<!DOCTYPE html>
<html lang="en">

<head>
       <meta character=" UTF-8">
        <title> bookapp </title>
        <link rel ="stylesheet" href="{{url_for ('static', filename='style.css')}}">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        #back-home {
            display: inline-block;
            padding: 10px;
            background color: #4CAF50;
            color: white;
            text-decoration: none;
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <h1>Return a Book</h1>
    <form action="{{ url_for('return_book') }}" method="post">
        <label for="book">Select a rented book:</label>
        <select name="book" id="book">
            {% for book in rented_books %}
                <option value="{{ book[0] }}">{{ book[0] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Return">
    </form>
    <a id="back-home" href="{{ url_for('index') }}">Back to Home</a>
</body>

</html>